[submodule "swibe"]
	path = swibe
	url = https://github.com/Bino-Elgua/Swibe
[submodule "ase-vault"]
	path = ase-vault
	url = https://github.com/Bino-Elgua/ase-vault
[submodule "organism-core"]
	path = organism-core
	url = https://github.com/Bino-Elgua/organism-core
[submodule "osovm"]
	path = osovm
	url = https://github.com/Bino-Elgua/Osovm
[submodule "aio"]
	path = aio
	url = https://github.com/Bino-Elgua/AIO
[submodule "ritual-codex"]
	path = ritual-codex
	url = https://github.com/Bino-Elgua/ritual-codex
[submodule "omokoda"]
	path = omokoda
	url = https://github.com/Bino-Elgua/Omokoda
[submodule "zangbeto"]
	path = zangbeto
	url = https://github.com/Bino-Elgua/Zangbeto
[submodule "npc-forge"]
	path = npc-forge
	url = https://github.com/Bino-Elgua/Npc-forge
[submodule "nex"]
	path = nex
	url = https://github.com/Bino-Elgua/Nex-
[submodule "paradigm"]
	path = paradigm
	url = https://github.com/Bino-Elgua/paradigm
[submodule "scarabswarm"]
	path = scarabswarm
	url = https://github.com/Bino-Elgua/Scarabswarm
[submodule "oso-control-center"]
	path = oso-control-center
	url = https://github.com/Bino-Elgua/Oso-control-center
[submodule "techgnosis"]
	path = techgnosis
	url = https://github.com/Bino-Elgua/Techgnosis
[submodule "ifascript"]
	path = ifascript
	url = https://github.com/Bino-Elgua/Ifascript
[submodule "twelve-thrones"]
	path = twelve-thrones
	url = https://github.com/Bino-Elgua/Twelve-thrones
[submodule "sign-wise"]
	path = sign-wise
	url = git@github.com:Bino-Elgua/Sign-wise.git
[submodule "vanity-cloakseed"]
	path = vanity-cloakseed
	url = git@github.com:Bino-Elgua/vanity-cloakseed.git
[submodule "swarmide2"]
	path = swarmide2
	url = git@github.com:Bino-Elgua/Swarmide2.git
[submodule "ifascript-standalone"]
	path = ifascript-standalone
	url = git@github.com:Bino-Elgua/ifascript.git
[submodule "lattice-phase1"]
	path = lattice-phase1
	url = git@github.com:Bino-Elgua/lattice-phase1.git
